<p>
    <strong>Name:</strong>
    <%= @category.name %>
</p>

<%= link_to 'Update Category', edit_category_path(@category) %>

<br>

<%= render 'tasks/index', tasks: @tasks%>

<%= link_to 'Back', categories_path %>